@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.jumbotron {
  padding-top: 6rem;
  background-color: #67db80;
}

#galeri {
  background-color: #67db80;
}

.bg-pri {
  background-color: #67db80;
}

section {
  padding-top: 5rem;
}

.textjudul {
  font-family: "poppins", sans-serif;
  color: #67db80;
  font-weight: 700;
}

.textform1 {
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.textform2 {
  font-family: "poppins", sans-serif;
  font-size: 14px;
}

.textform3 {
  font-family: "poppins", sans-serif;
}
